/* Change to colors from Tailwind theme to match dark mode */
body,
.docs-story {
  background-color: rgb(250 250 250);
  color: rgb(39 39 42);
}

body.dark,
body.dark .docs-story {
  color: rgb(250 250 250);
  background: rgb(39 39 42);
}
